<!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container pad-1">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-2x fa-angle-double-down"></i>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="btn-group">
                <div class="collapse navbar-collapse navbar-right navbar-main-collapse" id="dl-menu">
                    <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle float-left" type="button" id="dropdownMenu1" data-toggle="dropdown">Graph Options</button>
                    <a href="#menu-toggle" class="btn btn-default float-left" id="menu-toggle">Toggle Menu</a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Clock</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Pipeline Numbers</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Graph 1</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Graph 2</a></li>
                    </ul>
                    <ul class="nav navbar-nav dl-menu nav-pills">
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <%= link_to "Profile", "#", class: "btn btn-default" %>
                        </li>
                        <li>                        
                            <%= link_to "Logout", "#", class: "btn btn-default" %>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    