<!-- Sidebar -->
	<div id="sidebar-wrapper">
		<ul class="sidebar-nav">
			<li class="sidebar-brand">
				<a href="#">DataViz</a>
			</li>
			<li>
				<a href="#">Logo</a>
			</li>
			<li>
				<a href="#">Dashboard</a>
			</li>
			<li>
				<a href="#">Activities</a>
			</li>
			<li>
				<a href="#">Forecast</a>
			</li>
			<li>
				<a href="#">Performance</a>
			</li>
		</ul>
	</div>
	<!-- /#sidebar-wrapper -->